body {
    background-color: rgb(226, 226, 73);
    justify-content: center;
    align-items: center;
} h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
} P {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: flex;
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
}

.tarjeta {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
    width: 500px;
    height: 590px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: white;
}